section.feature#works
    .container 
        .feature-title Features that we provide
        .feature-list 
            .feature-item 
                .feature-content 
                    .feature-item--object For Student
                    .feature-item--title Leverage data to accentuate student performance
                    .feature-item--desc Minutely detailed inspection of students' response to practice tasks with data driven SWOT analysis in everyday's scorecard helps address the grey areas more efficiently. This helps visualise real-time improvement!
                img.feature-img(src="./images/img_student.png") 
            .feature-item 
                img.feature-img(src="./images/img_teacher.png")
                .feature-content 
                    .feature-item--object For Teacher
                    .feature-item--title Manage your institute with ease through smooth empanelment
                    .feature-item--desc Coordinate through our 4 panel systematic set-up: owner, trainer, student and content creator panels; ensuring efficient and easy coordination with rich user experience for every contributor. 
                    .feature-item--desc Ease of payment with enhanced wallet features to reduce payment hassels, clubbed with logical trainer monitoring streamlines things for you as an owner.
