footer.footer 
    .container 
        .footer-item
            .footer-content 
                .footer-content--title IELTS Proficiency
                .footer-content--desc IELTS institute automated, with dynamic scoring, assignments, and schedule management. <br/>One of a kind software for IELTS institutes.
                .footer-content--desc Platform Integration Software Technologies LLP. <br/> All Rights Reserved, 2022
            .footer-product Product
                .footer-product--content
                    a.footer-link(href="#") Home 
                    a.footer-link(href="#") How it works
                    a.footer-link(href="#") Pricing
            .footer-support Support
                .footer-support--content
                    a.footer-link(href="#") Contact
                    a.footer-link(href="#") Term of Service
                    a.footer-link(href="#") Privacy Policy