header.header 
    .container 
        .header-top 
            a.header-logo(href="index.html")
                img.header-logo--img(src="./images/img_logo.png")
                span.header-logo--title IELTS Proficiency
            i.fa.fa-bars.header-icon--bar
            .header-menu
                i.fa.fa-close.header-icon--close
                a.header-menu--link(href="index.html") How it works
                a.header-menu--link(href="pricing_page.html") Pricing
                a.header-menu--link(href="#") Contact
        .header-title Bringing mindful productivity to your institute.
        .header-content
            .header-text
                .header-text--desc IELTS Proficiency is an integrated software solution enabling your coaching institute with one of a kind digital infrastructure and a highly available environment that your students, your trainers and YOU will love. Take your IELTS institute digital and start teaching students online.
                .header-btn     
                    a.header-btn--link(href="index.html") Demo 
                    a.header-btn--link(href="pricing_page.html") Pricing
            img.header-img(src="./images/img_background.png") 
        .header-noti 
            .header-noti--title NEW!
            p Now run our software on your own website.
            a(href="#").header-noti--link http://ielts.
                span.header--link__pink yourwebsite
                span .com
            p *Android and iOS app launching in February
    