section.mentor 
    .container 
        .mentor-item
            .mentor-content 
                .mentor-content--title  Mentor Nex-Gen with Tech for an insightful guidance   
                .mentor-content--desc With automated checking for reading and listening daily practice tasks and mocks, trainers can focus on quality mentoring. With digitised rectification of writing task responses, trainers can mark and correct any error a student makes whilst providing them with adequate reason. Speaking sessions can be conducted through video conferencing.
            img.mentor-img(src="./images/img_mentor.png")