section.monotonous
    .container 
        .monotonous-item 
            img.monotonous-img(src="./images/img_monotonous.png")
            .monotonous-content 
                .monotonous-text 
                    .monotonous-text--title Break The Monotonous Routine
                    .monotonous-text--desc As a trainer, say no to repetitive tasks and reduce duplication of content across batches; month after month. For all the important information, upload it as either a blog post or an embedded youtube video for your students to view whenever they want to. Upload explainers for each writing task only once bidding adieu to repetition across batches.
                .monotonous-text
                    .monotonous-text--title Digitised Content Creator Panel For Streamlined Coordination
                    .monotonous-text--desc With the content creator panel, institutes can update teaching materials, daily practice task sheets, cue cards and everything with ease. With a scheduler for mock exams, upload your mock sheets once and schedule whenever necessary; bringing mindful productivity and better engagement.