section.online 
    .container 
        .online-list 
            +onlineItem("./images/img_education1.png","700+","institutes and home tutors onboard, teaching students digitally, everyday")
            +onlineItem("./images/img_education2.png","40%","increase in trainer efficiency within three months of usage witnessed by partner institutes")
            +onlineItem("./images/img_working.png","80%","existing partners witnessed 1.85x improvement in job related tasks")
            +onlineItem("./images/img_rating.png","35%","improvement in retention rate has been witnessed by onboarded institutes.")