section.pricing#pricing
    .container 
        .pricing-content    
            .pricing-title Plans that fit your need
            .pricing-desc Start with a 7-day free trial. No credit card required.<br/>Get a taste with our demo panel.
        .pricing-list 
            .pricing-item 
                .pricing-item--title Home Tutor 
                .pricing-item--content 
                    +pricingItem("fa fa-close", "Onboarding price","","₹7,499")
                    +pricingItem("fa fa-check", "Onboarding offer price","","₹4,999")
                    +pricingItem("fa fa-check", "Pay As You Go")
                    +pricingItem("fa fa-check", "Use on computerdeliveredielts.com")
                    +pricingItem("fa fa-check", "Per student fee","","₹399/month","(for first 2 months)")
                    +pricingItem("fa fa-check", "Welcome offer","","₹99/month")
                    +pricingItem("fa fa-check", "2 Trainer account (max)")
                    +pricingItem("fa fa-check", "1 Owner account")
                    +pricingItem("fa fa-check", "Best suited for Individual trainers interested in teaching students digitally")
                a.pricing-item--btn(href="#") Get started 
            .pricing-item 
                .pricing-item--most Most popular
                .pricing-item--title Coaching Institute 
                .pricing-item--content 
                    +pricingItem("fa fa-close", "Onboarding price","","₹11,999","")
                    +pricingItem("fa fa-check", "Onboarding offer price","","₹6,999","")
                    +pricingItem("fa fa-check", "Pay As You Go","","","")
                    +pricingItem("fa fa-check", "Use on computerdeliveredielts.com","","","")
                    +pricingItem("fa fa-check", "Per student fee","","₹399/month","(for first 2 months)")
                    +pricingItem("fa fa-check", "Welcome offer","","₹99/month")
                    +pricingItem("fa fa-check", "30 Trainer account (max)")
                    +pricingItem("fa fa-check", "1 Owner account")
                    +pricingItem("fa fa-check", "Coaching Institutes who believe in paying as their business grows")
                a.pricing-item--btn(href="#") Get started 
            .pricing-item 
                .pricing-item--title Enterprise Edition
                .pricing-item--content 
                    +pricingItem("fa fa-close", "Onboarding price","","₹85,499")
                    +pricingItem("fa fa-check", "Onboarding offer price","","₹72,999")
                    +pricingItem("fa fa-check", `Annual Prepaid Plan`,"(Renews ₹85,999)","","")
                    +pricingItem("fa fa-check", "Use on Your Custom Website")
                    +pricingItem("fa fa-check", "No student fee charged")
                    +pricingItem("fa fa-check", "30 Trainer account (max)")
                    +pricingItem("fa fa-check", "1 Owner account")
                    +pricingItem("fa fa-check", "Institutes with an enrollment rate of a minimum of 500 students annually")
                a.pricing-item--btn(href="#") Get started 
            .pricing-item 
                .pricing-item--title Custom 
                .pricing-item--content 
                    +pricingItem("fa fa-check", "Onboarding offer price Contact for quote")
                    +pricingItem("fa fa-check", "Use on Your Custom Website")
                    +pricingItem("fa fa-check", "Infinite Trainer account (max)")
                    +pricingItem("fa fa-check", "Multiple owner account")
                    +pricingItem("fa fa-check", "Institutes operating with Multiple Branches")
                a.pricing-item--btn(href="#") Get started 