section.tracking 
    .container 
        .tracking-item
            .tracking-content 
                .tracking-content--title  Extensive Trainer Performance Tracking 
                .tracking-content--desc As an institute owner, monitor the performance and efficiency of in-house teachers. Get detailed metrics like up-time, no. of writing tasks checked, speaking sessions conducted and more; that reduces idle time hence enhancing performance. Improved efficiency with better resource management is an asset with us.
            img.tracking-img(src="./images/img_extensive.png")