extends layout/layout

block vars
	-title = 'Welcome to IELTS website'
	-bodyClass = 'home-page'

block container
	include blocks/feature
	include blocks/mentor
	include blocks/monotonous
	include blocks/tracking
	include blocks/online